header, footer, div, nav{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible;
  word-wrap: break-word;
}

img{
  max-width: 100%;
  height: auto;
}


/* colors */
body{ background-color: #fcfcfc; color: #300; margin:20px 0 }
.page{ border:0;}
body.sidebar-first div[role="main"] { border-left: 0px solid #eee; }
body.sidebar-second div[role="main"]{ border-right: 0px solid #eee; }
body.two-sidebars div[role="main"]  { border-left: 0px solid #eee; border-right: 0px solid #eee; }

.siteinfo {
  margin: 5% !important;
  z-index: 10;
  width: 90% !important;
}
  .siteinfo figure { display:block; }
  .siteinfo h1 { font-size:2em; line-height:1.22em; text-transform: none; color: #c00; padding: 0; display: inline; background: rgba(255, 255, 255, 0.60); display:none; }
  .siteinfo h2 { font-size:1em}

footer[role="contentinfo"]{ text-align:center;}
header[role="banner"],.navigation-region, .page, footer[role="contentinfo"]{ width: 100%;  margin: 0 auto; }
.navigation-region nav ul {padding:0}
.navigation-region nav li { display: inline-block;}
.navigation-region nav, .navigation-region div, .header-region div{float:left}

/* page Layout */
div[role="main"],div.sidebar-first, div.sidebar-second {float:left; padding:0 1%; position:relative }
div[role="main"] {clear:both;}
body.two-sidebars div.sidebar-first  { width: 50%; }
body.two-sidebars  div.sidebar-second{ width: 50%; }
.navigation-region > nav{ width:100% }
.header-region > div{ width:100% }


@media only screen and (min-width: 520px) {
  .siteinfo {
    margin-top: 20%;
    width: 80%;
  }
}

@media only screen and (min-width: 600px) {
  .siteinfo{width:60%; margin-top: 18%; float:left}
  .header-region{width:50%; float:left}
}

@media only screen and (min-width: 768px) {
  .siteinfo{width:50%; margin-top: 15%; float:left}
  .header-region{width:60%; float:left}

  div[role="main"] {width: 100%; float: left; padding:0 1%;}
  body.sidebar-first div[role="main"]  { width: 80%; left: 20%}
  body.sidebar-first div.sidebar-first { width: 20%; left: -80%}
  body.sidebar-second div[role="main"] { width: 80%; }
  body.two-sidebars div[role="main"]   { width: 60%; left: 20%}
  body.two-sidebars div.sidebar-first  { width: 20%; left: -60%}
  body.two-sidebars div.sidebar-second { width: 20%; }
  div.sidebar-second{ width: 20%; }
}

@media only screen and (min-width: 960px) {
  .siteinfo{margin-top: 11%; width: 40%}
  .header-region{width:auto}

  div[role="main"] {width: 100%; float: left; padding:0 1%; }
  body.sidebar-first div[role="main"]  { width: 80%; left: 20%}
  body.sidebar-first div.sidebar-first { width: 20%; left: -80%}
  body.sidebar-second div[role="main"] { width: 80%; }
  body.two-sidebars div[role="main"]   { width: 60%; left: 20%}
  body.two-sidebars div.sidebar-first  { width: 20%; left: -60%}
  body.two-sidebars div.sidebar-second { width: 20%; }
  div.sidebar-second{ width: 20%; }
}



/* -- clearfixing header, footer & .page -- */
header[role="banner"]:before,header[role="banner"]:after,
.navigation-region:before, .navigation-region:after,
.page:before,.page:after,
footer[role="contentinfo"]:before,footer[role="contentinfo"]:after,
.cf:before,.cf:after {
  content:""; display:table;
}

header[role="banner"]:after,
.navigation-region:after
.page:after,
footer[role="contentinfo"]:after,
.cf:after {
  clear:both;
}

header[role="banner"],
.navigation-region,
.page,
footer[role="contentinfo"],
.cf {
  zoom:1;
}
